:root{
    --colorPrincipal: grey;
    --colorSecundario: white;
    --bordeTabla: black;
    --filasImpares: silver;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    border: 1px solid var(--colorPrincipal);
}

header h1{
    padding-top: 20px;
}

header img{
    display: block;
    width: 80px;
    float: left;
}

main{
    clear: both;
}

main nav{
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    border: 1px solid var(--colorPrincipal);
}

main nav form label{
    display: inline;
}

main nav input{
    padding: 2px;
}

main nav input[type="submit"]{
    border-radius: 0;
    background-color: var(--colorSecundario);
}

main .bloque1{
    margin: 0 auto;
    width: 70%;
    
}

main h2{
    text-align: center;
}

main section{
    float: left;
    width: 66.7%;
    border: 1px solid var(--colorPrincipal);
}

main section p{
    background-color: var(--colorPrincipal);
}

main section table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

main section td, main section th{
    border: 1px solid var(--bordeTabla);
}

main section table tr:nth-child(even){
    background-color:var(--filasImpares);    
}

main section img{
    width: 100%;
}

.siguiente{
    display: flex;
    justify-content: right;
}

.siguiente img{
    margin-left: 4px;
    width: 20px;
    height: 20px;
}

main aside{
    float: right;
    width: 33.3%;
    padding: 10px;
    border: 1px solid var(--colorPrincipal);
}

footer{
    clear: both;
    margin: 0 auto;
    text-align: center;
    background-color: var(--colorPrincipal);
    padding: 10px;

}

@media(max-width: 800px){
    
    main .bloque1{
        width: 100%;
    }

    main nav{
        float: none;
        width: 100%;
    }

    main nav form{
        display: flex;
        justify-content: center;
    }

    main nav form label{
        display: block;
    }

    main section{
        float: none;
        padding: 5px;
        width: 100%;
    }

    main aside{
        float: none;
        width: 100%;
    }


}